@mixin news-block($color) {
	padding: 10px;
	margin: 10px 0;
	border: 0px solid $color;
	border-left-width: 15px;
	border-radius: 3px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.23);
	background-color: #fff;
	// , 0px 0px 2px 3px rgba(0, 0, 0, 0.19);
		& h1, h2, h3, h4, h5, h6 {
			// font-style: $fontBold;
			color: $color;
		}
		& .data {
			// text-align: right;
			float: right;

			  display: inline-block;
			  padding: $badge-padding-y $badge-padding-x;
			  font-size: $badge-font-size;
			  font-weight: $badge-font-weight;
			  line-height: 1;
			  color: $badge-color;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: baseline;
			  @include border-radius();
			  // Empty badges collapse automatically
			  &:empty {
				display: none;
			  }
			  @include badge-variant($color);
			}


}